<div class="js-pagination">
  <ul class="pagination-list">
    <li class="pagination-item item-arrow-left">
      <button type="button" class="pagination-btn per-btn">
        <svg class="icon-arrow-left per-btn">
          <use
            class="per-btn"
            href="/src/images/svg/symbol-defs.svg#icon-arrow-left"
          ></use>
        </svg>
      </button>
    </li>
    <li class="pagination-item">
      <button type="button" class="pagination-btn first-btn">1</button>
      <span class="points">...</span>
    </li>
    <li class="pagination-item">
      <button type="button" class="pagination-btn main-btn second-btn">
        2
      </button>
    </li>
    <li class="pagination-item">
      <button type="button" class="pagination-btn main-btn third-btn">3</button>
    </li>
    <li class="pagination-item">
      <button
        type="button"
        class="pagination-btn fourth-btn main-btn js-current-btn"
      >
        4
      </button>
    </li>
    <li class="pagination-item">
      <button type="button" class="pagination-btn main-btn fifth-btn">5</button>
    </li>
    <li class="pagination-item">
      <button type="button" class="pagination-btn main-btn sixth-btn">6</button>
    </li>
    <li class="pagination-item">
      <span class="end-points">...</span
      ><button type="button" class="pagination-btn max-page-btn"></button>
    </li>
    <li class="pagination-item">
      <button type="button" class="pagination-btn next-btn">
        <svg class="icon-arrow-right next-btn">
          <use
            class="next-btn"
            href="/src/images/svg/symbol-defs.svg#icon-arrow-right"
          ></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
