.page-header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/src/images/mobile/header-home-mobile.jpg');
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;

    @media screen and(min-width:768px) {
        background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/src/images/tablet/header-home-tablet.jpg');
        background-position: center;
        background-size: cover;
        margin-bottom: 60px;
    }


    @media screen and(min-width:1280px) {
        background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/src/images/desktop/header-home-desktop.png');
        background-position: center;
        background-size: cover;
       
    }
    
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 40px;
}

.image-logo{
    display: flex;
    align-self: center;
}
.logo-title{
    display: flex;
    
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color:#fff;
    
    visibility: hidden;
}
.link-filmoteka{
    display: flex;
    width: 112px;
}

.list-page{
    display: flex;
    justify-content: space-between;
}

.item-list-page:first-child{
  margin-right: 40px;
}
.link-page{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    text-transform: uppercase;
}
.field{
    display: flex;
    padding-bottom: 80px;
    justify-content: center;
    
}
.search{
    display: flex;
    align-self: center;
    justify-content: center;
    
}





input{
    width: 280px;
    color: #fff;
    background-color:transparent;
    border: 0 solid transparent;
    border-bottom: 1px solid #fff;
}
textarea:focus,
input:focus {
    outline: none;
}
input::placeholder{
    color: #fff;
}

.search-btn{
    display: flex;
    
    background-color: transparent;
    fill: #fff;
    border: 0;
    border-bottom: 1px solid #fff;
}

.icon-search{
    display: flex;
}
@media screen and(min-width: 768px) {
    input {
        
        width: 338px;
    }
  
  .logo-title{
    visibility: visible;
    margin-left: 8px;
  }
  .link-filmoteka{
    width: auto;
  }
}

@media screen and(min-width: 1280px) {
    input {
        width: 395px;
    }

    .logo-title{
        margin-left: 10px;
    }
}