.page-header {
    padding-top: 40px;
    padding-bottom: 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/src/images/mobile/header-library-mobile.jpg');
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;

    @media screen and(min-width:768px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/src/images/tablet/header-library-tablet.jpg');
        background-position: center;
        background-size: cover;
        margin-bottom: 60px;
    }


    @media screen and(min-width:1280px) {
        background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/src/images/desktop/header-library-desktop.jpg');
        background-position: center;
        background-size: cover;
        
    }

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.image-logo {
    display: flex;
    align-self: center;
}

.logo-title {
    display: flex;

    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #fff;

    visibility: hidden;
}

.link-filmoteka {
    display: flex;
    width: 112px;
}

.list-page {
    display: flex;
    justify-content: space-between;
}

.item-list-page:first-child {
    margin-right: 40px;
}

.link-page {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    text-transform: uppercase;
}

.wrapper-btn{
    display: flex;
    justify-content: center;
   
}
.btn-library-header{
    display: block;
    text-transform: uppercase;
    width: 130px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.watched-btn{
    background-color: transparent;
    margin-right: 20px;
    
}
.queue-btn{
    background-color: transparent;
}

@media screen and(min-width: 768px) {
   

    .logo-title {
        visibility: visible;
        margin-left: 8px;
    }

    .link-filmoteka {
        width: auto;
    }
    .btn-library-header{
        width: 152px;
    }
    .watched-btn {
        margin-right: 32px;
        
    }
    
}

@media screen and(min-width: 1280px) {
   

    .logo-title {
        margin-left: 10px;
    }
    .btn-library-header{
        width: 148px;
        height: 42px;
    }
    .watched-btn {
        margin-right: 16px;
       
    }
   
}